#img{
    border-radius: 15px;
    background-image: url("./components/background.jpg");
    background-repeat: no-repeat;
}

body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}